<% if (config.author) { %>
© <script language="javascript">time=new Date();year=time.getFullYear();with(document){write(""+year+"")}</script> <%= config.author %>
<% } else { %>
© <script language="javascript">time=new Date();year=time.getFullYear();with(document){write(""+year+"")}</script>
<% } %>
<br>
Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>.&nbsp;Theme by <a href="https://github.com/ZEROKISEKI" target="_blank">AONOSORA</a>
